---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign sorted_talks = site.talks | sort: "type" %}

{% assign current_type = "" %}
{% assign grouped_talks = "" %}
{% for post in sorted_talks %}
  {% if post.type != current_type %}
    {% assign current_type = post.type %}
    <h2>{{ current_type }}</h2>
    {% assign grouped_talks = site.talks | where: "type", current_type | sort: "date" %}
    {% for grouped_post in grouped_talks %}
      {% include archive-single-talk.html post=grouped_post %}
    {% endfor %}
  {% endif %}
{% endfor %}
